root {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 150%;
}
code {
  font-family: "Comic Neue", cursive;
}
.nav-item:hover {
  color: red;
}
@media screen and (min-width: 765px) {
  body {
    padding-left: 80px;
    padding-right: 80px;
  }
  .whydetails {
    padding: 60px;
    width: 50%;
  }
  .whypic {
    width: 50%;
  }
  .right,
  .left {
    width: 50%;
  }
  .whyBtn {
    margin: 100px 0;
  }
  .block {
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 10px;
  }
  .carouselRight,
  .carouselLeft {
    width: 50%;
  }
  .jobContainer {
    justify-content: space-between;
  }
  .discoverJobs {
    padding: 0 10px;
  }
  .loginLeft,
  .loginRight {
    padding: 20px 100px 100px 100px;
    width: 50%;
  }
  .navbtn {
    margin-left: 20px;
  }
}
@media screen and (max-width: 765px) {
  .block {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
  }
  .bottomContainer,
  .topWhy {
    flex-direction: column;
  }
  .bottomContainer {
    margin-top: 96px;
  }
  .bottomWhy {
    flex-direction: column-reverse;
  }
  .joinBtn button {
    margin-top: 120px;
  }
  .bottom,
  .jobBtn,
  .btn {
    width: 100%;
  }
  .dropdown-menu {
    width: 90%;
  }
  .top {
    margin-top: 60px;
  }
  #Whyimage {
    width: 90%;
  }
  .right,
  .footerContainer,
  .caroselCont {
    flex-direction: column;
  }
  .one,
  .two,
  .three,
  .left {
    margin: 16px 0;
    width: 100%;
  }
  .left {
    margin-top: 32px;
  }
  .head {
    width: 100%;
  }
  .jobContainer {
    justify-content: center;
  }
  .jobBtnLink {
    width: 87%;
  }
  .loginContainer {
    flex-direction: column-reverse;
  }
  .signupContainer {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    left: 30px;
    top: 100px;
    background-color: white;
    width: 90%;
  }
  .navbtn {
    width: 90%;
    margin-top: 8px;
  }
}
@media screen and (min-width: 765px) and (max-width: 990px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#navItemContainer{
    display: flex;
    align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}

a:hover {
  color: red;
}

a li {
  text-decoration: none;
}

.login {
  color: black;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.top h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 37px;
}

.joinBtn,
.companyfoot,
.companyfoot2 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.joinBtn button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: #3288e3;
  color: white;
  border: 2px solid #3288e3;
}
.joinBtn button:hover {
  background-color: white;
  color: #3288e3;
}

.bottomContainer,
.jobSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.bottomContainer h1 {
  font-size: 16px;
  margin: 20px 0;
}
.bottomContainer p {
  font-size: 15px;
  color: #000000c4;
}

.imgHover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50%;
}

.imgHover:hover {
  border: 2px solid black;
}

.numericData {
  border-right: "2px solid #dcdcdc";
}

.bottomDetails {
  margin-bottom: -40px;
}

#btn {
  border: 1px solid #d4d4d4;
  height: 40px;
}
#btn:hover,
#btn:active {
  color: #ec2e3a;
  background-color: #fee2e2;
  border-color: #ec2e3a;
}
.jobSearch {
  flex-wrap: wrap;
  margin: 30px 0px;
}

.jobBtn {
  margin: 5px 20px;
}

/* image change */
.whypic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 10px;
  padding: 10px;
}
.whydetails {
  align-items: center;
  width: 100%;
  margin: 5px 10px;
  /* padding: 60px; */
}
.pre-heading {
  margin: 20px 8px 32px 0;
}
.heading {
  margin: 20px 0 32px;
}
.heading h2 {
  font-size: 40px;
}
.icon-list_item {
  margin: 0 0 24px;
}
.text {
  font-size: 16px;
}
.topWhy,
.bottomWhy {
  margin-top: 50px;
  /* height: 100vh; */
  /* width: 100vw; */
}
.right {
  justify-content: space-between;
}
.foota {
  text-decoration: none;
}
.footerLi {
  text-decoration: none;
  margin: 0 0 8px;
  color: black;
  list-style: none;
}
.footerLi:hover {
  color: #ec2e3a;
  text-decoration: underline;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}

.footerContainer {
  border-top: 2px solid black;
  padding-top: 32px;
  padding-bottom: 16px;
}
.headingTop,
.headingMain {
  text-align: center;
  margin: 48px;
}
.headingMain h2 {
  font-size: 64px;
}
.why {
  padding-bottom: 16px;
}

.heading h2 {
  margin-bottom: 32px;
}

h4 {
  font-size: 2rem;
}


/* login signup */
.loginContainer,
.signupContainer {
  display: flex;
  width: 100%;
}
.loginRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.socialBtn {
  width: 90%;
  height: 50px;
  border: 1px solid #848484;
  border-radius: 4px;
  background-color: white;
  margin: 20px 0;
  padding: 10px 0;
}
.input {
  height: 50px;
  width: 100%;
  border: 1px solid #848484;
  border-radius: 4px;
  background-color: white;
  margin-top: 5px;
  padding-left: 15px;
}
.or-container {
  margin-bottom: 20px;
  color: #848484;
  font-size: 15px;
}
.inputContainer {
  width: 90%;
  height: 50%;
  margin-top: 20px;
}
.label {
  font-size: 20px;
}
.loginBtn {
  width: 90%;
  height: 50%;
  margin-top: 50px;
  border-radius: 10px;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 0;
}
.loginBtn:hover {
  color: black;
  background-color: white;
}
